html{ 
    scroll-behavior: smooth;
    }


body{ 
margin: 0;
padding: 0;
background-color: rgb(217, 226, 226);

}

.contenedor{ 
    width: 80%;
    margin: auto;
    background-color: rgba(176, 160, 255, 0.589);
    
    }


.header{ 
   background-color: rgba(176, 160, 255, 0.589);
   padding: 30px;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-around;
align-items: center;
    
}

h1{ 
    font-family: 'Spartan', sans-serif;
    font-size: 26px;
     font-weight: bold;
 }

.a{ font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: black;
    border-radius: 10px;
    background-color: rgb(224, 219, 236);
     text-decoration: none;
     padding: 5px;
     margin: 5px;
     }

     .a:hover {
        background-color: rgba(136, 124, 187, 0.61);
      }
   
      .icono {
        display: none;
      }

.poster{ 
 background-color: rgba(136, 124, 187, 0.61);
 display: flex;
 flex-direction: row;
}
        
  

  .imagen{ 
    width: 225%; 
    flex-wrap: wrap; 
     }

     .imgcris{ 
        width: 100%;   
         }

.parrafo { 
   font-size: 20px;
   text-align: center;
   font-family: 'Quicksand', sans-serif;
   margin-top: 85px;
   padding: 30px;
     }

    
 h2{ 
        font-size: 30px;
        font-family: 'Quicksand', sans-serif;
       text-align: center;
       margin-top: 50px;
          }

.cajasflexbox { 
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
justify-content: space-around;

}


.cajas{ 
    display: flex;
    background-color: rgb(231, 228, 238);
    width: 31%;
    padding-bottom: 5%;
    margin-bottom:2%;

}

.pcajas { 
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
padding-top: 40px;
}  
     

.flexbox2{ 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}  

h4{ 
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}  



.premios{ 
    background-color: rgb(231, 228, 238);
    width: 38%;
    padding: 2%;
}  

li{ 
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
   margin-left: 50px;
   
}  

.homenajes { 
    background-color: rgb(231, 228, 238);
    width: 38%;
    padding: 2%;
}  

iframe{ 
    width: 100%;
    height: 80%;
}  

.aliados{ 
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    margin: auto;
    padding: 10px;
    text-align: center;
   
}  

.link{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 15px;
color: black;
text-decoration: none;
padding: 5px;
background-color: rgb(150, 142, 180);
border-radius: 20px;
margin-left: 170px;
} 

h5{ 
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
   text-align: center;
}  


.programas{ 
    background-color:rgba(136, 124, 187, 0.61);
    display: flex;
    flex-direction: row;
     }

     .imagenprogramas{ 
        width: 180%;
         }

         .imgprogr{ 
            width: 100%;
            flex-wrap: wrap;
             }

     .parrafoprogramas { 
    font-size: 20px;
     text-align: center;
     font-family: 'Quicksand', sans-serif;
     margin-top: 170px;
     padding: 30px;
     font-weight: bold;
    }



 @media (max-width: 580px) {
    
.contenedor{
width: 100%;

 }
  
 h1{
    font-size: 20px;
    margin-left: -20px;
    }

.a {
     font-size: 10px;
     float: none;
    }

nav { display: none; background-color: transparent;}

.icono { display: block; font-size: 25px !important;; margin-right: 5px; right: 20px; position: absolute;}
.responsive { display: block; position: absolute; top: 77px !important; width: 100%; margin-left: 177px;}

.poster{
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    }
    
    .parrafo{
        font-size: 15px;
        margin-top: -30px;
        }

.h2 {
    font-size: 23px;
    margin: auto;
    margin-top: 20px;
    }

.cajasflexbox{
    width: 100%;
    flex-direction: column;
    }

.cajas{
    width: 80%;
    margin: 10px;
    }

    .pcajas{
        padding: 10px;
        }

.flexbox2{
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    }

    .imagen{
        width: 100%;
        }
    

h4{
    font-size: 23px;
    margin: auto;
    margin-top: 20px;
    }

.premios{
    width: 80%;
    margin: 15px;
    }

    .homenajes{
        width: 80%;
        justify-content: center;
        margin: 5px;
        }


        .h5{
            font-size: 23px;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 13px;
            }


            .imagenprogramas{
                width: 100%;
                }

                .programas{
                    flex-wrap: wrap;
                    }

.parrafoprogramas{
    font-size: 15px;
     margin-top: 0;
     margin-top: -17px;
     font-weight: bold;
    }

}


@media (min-width:580px) and (max-width:990px){

    nav { display: none; background-color: transparent;}

    .icono { display: block; font-size: 25px !important;; margin-right: 5px; right: 20px;}
    .responsive { display: block; position: absolute; margin-left: 200px;top: 90px !important; width: 60%;}

    .poster{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        }

        .parrafo{
            margin-top: 0;
            }

            .flexbox2{
                width: 100%;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: center;
                }

                .cajasflexbox{
                    width: 100%;
                    flex-direction: column;
                    }
                
                .cajas{
                    width: 80%;
                    margin: 10px;
                    }

                    .pcajas{
                        padding: 25px;
                        }

                .premios{
                    width: 80%;
                    }

.homenajes{
    width: 80%;
    margin-top: 28px;
    }

    .imagenprogramas{
        width: 100%;
        }

        .programas{
            flex-wrap: wrap;
            }

            .parrafoprogramas{
                font-size: 15px;
                 margin-top: 0;
                 margin-top: -9px;
                 font-weight: bold;
                }
            

}


